@import url('https://fonts.googleapis.com/css?family=Maven+Pro')
body
    color: #ffffff
    padding: 0
    margin: 0
    font-family: 'Maven Pro', sans-serif
h1,h2,h3,h4,h5
    margin: 0px
.typed__text
    margin: 8em auto
    text-align: center
    .sc-bdVaJa   
        font-size: 32px
        color: #000000
.img__wrapper
    img
        width: 350px
        height: 350px
.btn__hero
    text-align: center
    margin: 0 auto
    display: block
.card__container
    padding: 5em 0 2em 0
.card__rounded
    position: relative
    border-radius: 25px
#star__rating
        list-style-type: none
        padding: 0
        -moz-user-select: none
        -webkit-user-select: none
        li
            display: inline-block
                